.selection {
   display: flex;
   flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.selection .text {
  font-size: 14px;
  color: #a0a0a0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}